header{
    width: 100%;
    height: 100vh;
    background-image: url(https://images.hdqwalls.com/download/fantasy-landscape-mountains-in-fantasy-world-5k-j4-1920x1080.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}