* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  font-family: sans-serif, serif, verdana, helvetica;
  background: slateblue;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

i {
  font-size: clamp(20px, 2vw, 50px);
  margin: 0 2vw;
  color: rgba(255, 255, 255, 0.7);
}

.logo,
.nav-list .nav-item a {
  font-size: clamp(18px, 1.5vw, 40px);
}

.header-title {
  color: rgba(255, 255, 255, 0.7);
  font-size: clamp(20px, 10vw, 200px);
  padding: 30vh 10vw 5vh 10vw;
}

.header-description {
  color: rgba(255, 255, 255, 0.7);
  font-size: clamp(20px, 2vw, 70px);
  padding: 0 10vw;
}

#photos-title,
#slide-title,
#grid-title {
  font-size: clamp(20px, 3vw, 70px);
  text-align: center;
  padding: 10vh 0;
  color: rgba(255, 255, 255, 0.7);
}

.photos-description p,
.text-container .text,
.social-wrapper span {
  font-size: clamp(16px, 1.3vw, 50px);
  padding: 3vh 3vw;
  color: rgba(255, 255, 255, 0.7);
}

#login-title {
  text-align: center;
  font-size: clamp(20px, 3vw, 60px);
  color: rgba(0, 0, 0, 0.9);
  position: relative;
  margin: 5vh 0;
}

#login-title:before {
  content: "";
  display: block;
  position: absolute;
  width: 40%;
  height: .5vh;
  background-image: -webkit-gradient(linear, left top, right top, from(#6a11cb), to(#2575fc));
  background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
  bottom: 0;
  left: 0;
  border-radius: 10px;
}

.social-field a p {
  color: rgba(255, 255, 255, 0.7);
  font-size: clamp(10px, 1.2vw, 50px);
  padding: 1vh 0;
}

a small {
  font-size: clamp(10px, 1vw, 40px);
  text-decoration: underline;
  text-align: end;
  color: rgba(0, 0, 0, 0.9);
  -webkit-transition: .3s;
  transition: .3s;
}

a small:hover {
  color: blue;
}

input[type="text"], input[type="password"] {
  font-size: clamp(16px, 1.4vw, 50px);
}

input[type="submit"] {
  font-size: clamp(12px, 1.2vw, 45px);
}

.footer .footer-container2 p {
  font-size: clamp(14px, 1.5vw, 45px);
}

header {
  width: 100%;
  height: 100vh;
  background-image: url(https://images.hdqwalls.com/download/fantasy-landscape-mountains-in-fantasy-world-5k-j4-1920x1080.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

main {
  width: 100%;
}

.photos-wrapper {
  width: 100%;
  background: #202a4b;
}

.footer {
  width: 100%;
  height: calc(50vh - 10vh);
  background: #0c1122;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .footer-container1, .footer .footer-container2 {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
}

.footer .footer-container1 img, .footer .footer-container2 img {
  width: 100%;
  height: 100%;
}

.footer .footer-container1 .icon-wrapper, .footer .footer-container2 .icon-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .footer-container1 .icon-wrapper a i, .footer .footer-container2 .icon-wrapper a i {
  margin: 2vw;
  font-size: clamp(30px, 3vw, 100px);
}

.container {
  width: 100%;
  height: 10vh;
  padding: 0 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: fixed;
  z-index: 1000;
  background: #0c1122;
}

.logo {
  color: rgba(255, 255, 255, 0.7);
}

.mobile-menu {
  display: none;
}

.mobile-menu div {
  width: 25px;
  height: 3px;
  margin-top: 5px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-list .nav-item a {
  display: block;
  padding: 2vh 2vw;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
}

.nav-list .nav-item a:hover {
  background: rgba(255, 255, 255, 0.2);
}

.photos-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.photos-container .photos-card {
  width: 30vw;
  height: 60vh;
  margin: 2vw;
  overflow: hidden;
  min-width: 270px;
  min-height: 350px;
  max-height: 500px;
  max-width: 600px;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  background-color: #0c1122;
  border-radius: 10px;
}

.photos-container .photos-card:hover {
  -webkit-transform: translate(0, -20px);
          transform: translate(0, -20px);
}

.photos-container .photos-card:hover .photos-image img {
  -webkit-transform: scale(110%);
          transform: scale(110%);
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.photos-container .photos-card .photos-image {
  width: 100%;
  height: 80%;
  overflow: hidden;
}

.photos-container .photos-card .photos-image img {
  width: 100%;
  height: 100%;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.photos-container .photos-card .photos-description {
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#slide-section {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #171e36;
  padding-bottom: 20vh;
}

.content {
  width: 60vw;
  min-width: 280px;
  height: 80vh;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  margin-bottom: 2vh;
}

.slide-wrapper {
  width: 500%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slide-wrapper input {
  display: none;
}

.slide-wrapper .slide-image {
  width: 20%;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.slide-wrapper .slide-image img {
  width: 100%;
  height: 100%;
}

.slide-wrapper .slide-navigation {
  position: absolute;
  bottom: 1%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slide-wrapper .slide-navigation .bar {
  width: 4vw;
  min-width: 20px;
  min-height: 10px;
  height: 4vh;
  border: 2px solid rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  margin-right: 3vw;
  cursor: pointer;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.slide-wrapper .slide-navigation .bar:hover {
  background: rgba(255, 255, 255, 0.7);
}

#slide1:checked ~ .s1 {
  margin-left: 0;
}

#slide2:checked ~ .s1 {
  margin-left: -20%;
}

#slide3:checked ~ .s1 {
  margin-left: -40%;
}

#slide4:checked ~ .s1 {
  margin-left: -60%;
}

#slide5:checked ~ .s1 {
  margin-left: -80%;
}

.grid-section {
  display: -ms-grid;
  display: grid;
  place-items: center;
  background: #202a4b;
}

.grid-wrapper {
  width: 80%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 5vh;
  height: 100%;
}

.grid-wrapper .grid-content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding: 5vh 0;
}

.grid-wrapper .grid-content:nth-child(even) {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.grid-wrapper .grid-content .image-container {
  width: 100%;
  height: 100%;
}

.grid-wrapper .grid-content .image-container img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.grid-wrapper .grid-content .text-container {
  width: 100%;
  height: 30%;
}

.grid-wrapper .grid-content .text-container .text {
  padding: 1vh 3vw;
}

.form-wrapper {
  width: 100%;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #171e36;
}

.form-wrapper .form-container {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  height: 80%;
  width: 30%;
  min-width: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-wrapper .form-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 30%;
}

.form-wrapper .form-container form label {
  width: 100%;
  text-align: center;
  position: relative;
}

.form-wrapper .form-container form label input[type="text"], .form-wrapper .form-container form label input[type="password"] {
  border: none;
  border-radius: 10px;
  padding: 2vh 2vw;
  outline: none;
  height: 5vh;
  width: 80%;
}

.form-wrapper .form-container form input[type="submit"] {
  border-radius: 10px;
  width: 80%;
  padding: 1vh 1vw;
  cursor: pointer;
  border: none;
  color: rgba(255, 255, 255, 0.7);
  background-image: -webkit-gradient(linear, left top, right top, from(#6a11cb), to(#2575fc));
  background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.form-wrapper .form-container form input[type="submit"]:hover {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(30%, #6a11cb), color-stop(90%, #2575fc));
  background-image: linear-gradient(to right, #6a11cb 30%, #2575fc 90%);
  letter-spacing: 1px;
}

.form-wrapper .social-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-wrapper .social-wrapper span {
  color: rgba(0, 0, 0, 0.9);
}

.form-wrapper .social-wrapper .social-fields {
  width: 80%;
}

.form-wrapper .social-wrapper .social-fields .social-field {
  border-radius: 10px;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(#6a11cb), to(#2575fc));
  background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
}

.form-wrapper .social-wrapper .social-fields .social-field:hover {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(30%, #6a11cb), color-stop(90%, #2575fc));
  background-image: linear-gradient(to right, #6a11cb 30%, #2575fc 90%);
}

.form-wrapper .social-wrapper .social-fields .social-field a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-wrapper .social-wrapper .social-fields .social-field.github {
  margin-bottom: 2vh;
}

@media only screen and (max-width: 769px) {
  .mobile-menu {
    display: block;
  }
  .nav-list {
    visibility: hidden;
    position: absolute;
    right: 0;
    top: 10vh;
    width: 100vw;
    height: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    overflow-y: hidden;
    z-index: 1000;
    background: #0c1122;
  }
  .nav-list .nav-item {
    padding: 0;
    opacity: 0;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
  .nav-list.active {
    visibility: visible;
    height: calc(100vh - 10vh);
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }
  .nav-list.active .nav-item {
    opacity: 1;
  }
  .header-content-wrapper {
    text-align: center;
  }
  .grid-wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    place-items: center;
    margin: 0;
  }
  .grid-wrapper .grid-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 426px) {
  #slide-section .content {
    height: 400px;
  }
  .form-image {
    display: none;
  }
  .form-form {
    width: 100%;
  }
}

.footer .footer-container1 {
  display: none;
}
/*# sourceMappingURL=app.css.map */