* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  font-family: sans-serif, serif, verdana, helvetica;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.logo,
.nav-list .nav-item a {
  font-size: clamp(18px, 1.5vw, 40px);
}

.header-title {
  color: rgba(255, 255, 255, 0.7);
  font-size: clamp(20px, 10vw, 200px);
  padding: 30vh 10vw 0 10vw;
}

.header-description {
  color: rgba(255, 255, 255, 0.7);
  font-size: clamp(20px, 2vw, 70px);
  padding: 0 10vw;
}

.photos-title,
.slide-title {
  font-size: clamp(20px, 3vw, 70px);
  text-align: center;
  padding: 10vh 0;
  color: rgba(255, 255, 255, 0.7);
}

.photos-description p {
  font-size: clamp(16px, 1vw, 70px);
  padding: 3vh 3vw;
  color: rgba(255, 255, 255, 0.7);
}

header {
  width: 100%;
  height: 100vh;
  background-image: url(https://www.w3schools.com/w3images/jane.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

main {
  width: 100%;
}

.photos-wrapper {
  width: 100%;
  background: #0c0c0c;
}

.slide-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: black;
  padding-bottom: 20vh;
}

.container {
  width: 100%;
  height: 10vh;
  padding: 0 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: fixed;
  background: #070707e0;
}

.logo {
  color: rgba(255, 255, 255, 0.7);
}

.mobile-menu {
  display: none;
}

.mobile-menu div {
  width: 25px;
  height: 3px;
  margin-top: 5px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-list .nav-item a {
  display: block;
  padding: 2vh 2vw;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
}

.nav-list .nav-item a:hover {
  background: rgba(255, 255, 255, 0.2);
}

.photos-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.photos-container .photos-card {
  width: 30vw;
  height: 60vh;
  margin: 2vw;
  overflow: hidden;
  min-width: 270px;
  min-height: 350px;
  max-height: 500px;
  max-width: 600px;
  background-color: #070707e0;
  border-radius: 10px;
}

.photos-container .photos-card .photos-image {
  width: 100%;
  height: 80%;
}

.photos-container .photos-card .photos-image img {
  width: 100%;
  height: 100%;
}

.photos-container .photos-card .photos-description {
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slide-wrapper {
  width: 80%;
  height: 100vh;
  overflow: hidden;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 769px) {
  .mobile-menu {
    display: block;
  }
  .nav-list {
    visibility: hidden;
    position: absolute;
    right: 0;
    top: 10vh;
    width: 100vw;
    height: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    overflow-y: hidden;
    z-index: 1000;
    background: #070707e0;
  }
  .nav-list .nav-item {
    padding: 0;
    opacity: 0;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
  .nav-list.active {
    visibility: visible;
    height: calc(100vh - 10vh);
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }
  .nav-list.active .nav-item {
    opacity: 1;
  }
  .header-content-wrapper {
    text-align: center;
  }
}
/*# sourceMappingURL=app.css.map */