// Use the function clamp
.logo,
.nav-list .nav-item a{
    font-size: clamp(18px, 1.5vw, 40px);
}
.header-title{
    color: $main-color-font;   
    font-size: clamp(20px, 10vw,  200px);
    padding: 30vh 10vw 5vh 10vw;
}
.header-description{
    color: $main-color-font;
    font-size: clamp(20px, 2vw,  70px);
    padding: 0 10vw;
}

#photos-title, 
#slide-title,
#grid-title{
    font-size: clamp(20px, 3vw, 70px);
    text-align: center;
    padding: 10vh 0;
    color: $main-color-font;
}
.photos-description p,
.text-container .text,
.social-wrapper span{
    font-size: clamp(16px, 1.3vw, 50px);
    padding: 3vh 3vw;
    color: $main-color-font;
}


#login-title{
    text-align: center;
    font-size: clamp(20px, 3vw, 60px);
    color: $secondary-color-font;
    position: relative;
    margin: 5vh 0; 

    &:before{
        @include pseudo;
        width: 40%;
        height: .5vh;
        background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
        bottom: 0;
        left: 0;
        border-radius: $default-radius;
    }
}

.social-field a p{
    color: $main-color-font;
    font-size: clamp(10px, 1.2vw, 50px);
    padding: 1vh 0;
}

a small{
    font-size: clamp(10px, 1vw, 40px);
    text-decoration: underline;
    text-align: end;
    color: $secondary-color-font;
    transition: .3s;

    &:hover{
        color: blue;
    }
}

input[type="text"], input[type="password"]{
    font-size: clamp(16px, 1.4vw, 50px);
}

input[type="submit"]{
    font-size: clamp(12px, 1.2vw, 45px);
}

.footer .footer-container2 p{
    font-size: clamp(14px, 1.5vw, 45px);
    color: $main-color-font;
}