// Flex types
@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin flexEvenly {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
@mixin flexBetween {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
// Center
@mixin center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
// Pseudo elements
@mixin pseudo($display: block, $position: absolute, $content: ''){
    content: $content;
    display: $display;
    position: $position;
}
// Placeholders
@mixin input-placeholder {
    &.placeholder { @content; }
    &:-moz-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &:-ms-input-placeholder { @content; }
    &::-webkit-input-placeholder { @content; }
}
// truncate an element
@mixin truncate($truncation-boundary) {
    max-width: $truncation-boundary;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


