// Colors definition
$background-color: #fafafa;
$main-color: #070707e0;
$secondary-background: rgb(24, 24, 24);
$main-color-font: rgba(255, 255, 255, 0.7); 
$secondary-color-font:  rgba(0, 0, 0, 0.9);

//Effects

$default-transition: all ease .5s;
$card-translate: translate(0, -20px);


// Border

$default-radius: 10px;


